<% layout('main_form/page') -%>

<% block('title', 'Products'); -%>

<table class="table_blur">
<tr>
	<th>Id</th>
	<th>Full Name</th>
	<th>Short name</th>
	<th>Section №</th>
	<th>Shelf №</th>
	<th>Weight</th>
	<th>Size</th>	
	<th>Date in</th>
	<th>Date out</th>
	<% rows.forEach((row)=> { %>
	<tr> 
		<td><%=row.id %></td>
		<td><%=row.name_full %></td>
		<td><%=row.name_short %></td>
		<td><%=row.section_number %></td>
		<td><%=row.shelf_number  %></td>
		<td><%=row.weight %></td>
		<td><%=row.sizes %></td>
		<td><%=row.date_in %></td>
		<td><%=row.date_out %></td>
	
	</tr>
	<% }); %> 

</tr>
</table>





